@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url('../fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), url('../fonts/PT\ Sans\ Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'PT Sans Norrow';
    font-weight: Bold;
    src: local('PT Sans Norrow'), url('../fonts/PT\ Sans\ Norrow\ Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Segoe WP';
    src: local('Segoe WP'), url('../fonts/SegoeWP.ttf') format('ttf');
}

@font-face {
    font-family: 'Segoe WP Light';
    src: local('Segoe WP Light'), url('../fonts/segoe-wp-light.ttf') format('ttf');
}

@font-face {
    font-family: 'Asap';
    src: local('Asap'), url('../fonts/Asap-Regular.otf') format('otf');
}

html {
    font-family: "Segoe WP";
    font-size: 17px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.visible-hidden {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
}

/*!!!!! HEADER !!!!!*/

.header-bg {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    background-image: url("../img/headerbg.jpg");
    border-top: 1px solid transparent;
}

.main-logo .logo {
    width: 317px;
    height: 83px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    margin-bottom: 47px;
}

.nav {
    height: 41px;
    margin-top: 52px;
    box-shadow: -4px -14px 0px 0px rgba(155,135,25,0.5), 
    -8px -17px 0px 0px rgba(125,109,34,0.5);
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list .item {
    position: relative;
    background-color: #f5c506;
}

.nav-list .link {
    font-size: 17px;
    color: #9b7d08;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid #dcb105;
    background-color: #f5c506;
}

.nav-list .item:last-child .link {
    border-right: none;
}

.nav-list .about-us {
    padding-right: 23px;
    padding-left: 70px;
}

.nav-list .services {
    padding-right: 17px;
    padding-left: 43px;
}

.nav-list .contact {
    padding-right: 22px;
    padding-left: 50px;
}

.nav .about-us::before {
    content: "";
    position: absolute;
    left: 39px;
    top: 2px;
    width: 21px;
    height: 19px;
    background-image: url("../img/icons/about.png");
}

.nav .services::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 2px;
    width: 19px;
    height: 19px;
    background-image: url("../img/icons/services.png");
}

.nav .contact::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 18px;
    width: 24px;
    height: 18px;
    background-image: url("../img/icons/mail.png");
}

/* !!!!!!!!!!!!!!!!!! */
/* !!!!! SLIDER !!!!! */

.slider {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.video-arrow {
    position: absolute;
    top: 299px;
    height: 57px;
    width: 32px;
    border: none;
    background-color: #c7a10b;
}

.video-arrow.left {
    left: 0;
}

.video-arrow.left::before {
    content: "";
    position: absolute;
    transform: rotate(-44deg);
    top: 23px;
    left: 8px;
    width: 14px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.video-arrow.left::after {
    content: "";
    position: absolute;
    transform: rotate(44deg);
    top: 29px;
    left: 8px;
    width: 14px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.video-arrow.right {
    right: 0;
}

.video-arrow.right::before {
    content: "";
    position: absolute;
    transform: rotate(-132deg);
    top: 23px;
    left: 8px;
    width: 14px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.video-arrow.right::after {
    content: "";
    position: absolute;
    transform: rotate(132deg);
    top: 29px;
    left: 8px;
    width: 14px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.slider .title {
    width: 432px;
    margin: 0;
    margin-top: 74px;

    font-family: 'Asap', sans-serif;
    font-size: 63px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
}

.title .yellow {
    color: #f5c506;
}

.slider .video {
    margin-left: 9px;
    margin-bottom: 71px;
}

.video-mobile {
    display: none;
}

/* !!!!!!!!!!!!!!!!!!!! */
/* !!!!! FEATURES !!!!! */

.features-bg {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    background-image: url("../img/featuresbg.png"); 
    border-top: 1px solid transparent;
    box-shadow: 0px -10px 26px -12px rgba(0,0,0,0.75),
                0px 10px 26px -12px rgba(0,0,0,0.75);
}

.features-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.features .item {    
    position: relative;
    padding-top: 146px;
    padding-bottom: 33px;
    text-align: center;
    width: 340px;
    font-family: "Segoe WP Light";
    font-size: 27px;
    font-weight: 100;
    text-transform: uppercase;
    border-right: 1px solid #dbdbdb;
}

.features .item:first-child {
    border-left: 1px solid #dbdbdb;
}

.features .better-design::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 109px;
    height: 74px;
    margin-left: -57px;
    margin-top: -47px;
    background-image: url("../img/icons/btdesign.png");
}

.features .cusomise::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 91px;
    height: 95px;
    margin-left: -35px;
    margin-top: -70px;
    background-image: url("../img/icons/customise.png");
}

.features .free-icons::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 81px;
    height: 83px;
    margin-left: -50px;
    margin-top: -53px;
    background-image: url("../img/icons/free.png");
}

/* !!!!!!!!!!!!!!!!!!!! */
/* !!!!! SCHEDULE !!!!! */

.schedule-bg {
    width: 1300px;
    margin: 0 auto;
    background-image: url("../img/patternbg.jpg");
    border-top: 1px solid transparent;
}

.schedule {
    font-family: "Segoe WP Light";
    font-size: 29px;
    line-height: 38px;
    letter-spacing: 0.4px;
    color: #fff;
    padding-top: 34px;
}

.schedule .title {
    margin: 0;
    margin-bottom: 37px;
    font-family: 'PT Sans', sans-serif;
    font-size: 37px;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.schedule-wrap {
    display: flex;
    padding-bottom: 86px;
    margin-bottom: 43px;
}

.schedule .video {
    margin-right: 34px;
}

.schedule .describe {
    position: relative;
    width: 340px;
    background-color: #ec9e03;
}

.schedule .describe-p {
    padding: 0;
    margin: 0;
    padding-top: 16px;
    padding-left: 28px;
}

.schedule .date {
    position: absolute;
    width: 80px;
    height: 72px;
    top: 100%;
    background-color: #ddb101;
    padding-left: 32px;
    padding-top: 13px;
}

.schedule .day {
    font-family: "Segoe WP";
    display: block;
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}

.schedule .month {
    display: block;
    color: #b26529;
    font-size: 21px;
    text-transform: uppercase;
}

.schedule .social {
    display: flex;
    justify-content: center;
    position: relative;
    width: 329px;
    background-color: #ec9e03;
}

.social .twitter {
    align-self: center;
    margin-top: 25px;
}

.social .chat-twitter {
    display: none;
}

.schedule .social-number {
    position: absolute;
    font-size: 25px;
    right: 18px;
    top: 8px;
}

.btn {
    position: absolute;
    border: none;
}

.describe .btn {
    right: 22px;
    bottom: 19px;
}

.social .btn {
    right: 18px;
    bottom: 19px;
}

.btn::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 3px;
    left: -3px;
    background-color: #fff;
}

.btn::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 11px;
    top: -4px;
    left: 1px;
    background-color: #fff;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.schedule .range {
    padding-bottom: 21px;
}

.schedule .range input {
    display: block;
    margin: 0 auto;
}

.schedule .range input[type="range"] {    
    width: 900px;
    margin-left: 71px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
    background-color: transparent;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    background: #fae58f;
    border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
    height: 16px;
    width: 200px;
    border-radius: 10px;
    background: #ec9e03;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fae58f;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: #3071a9;
    border-radius: 10px;
}
input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 200px;
    border-radius: 10px;
    background: #ec9e03;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
    height: 15px;
    width: 200px;
    border-radius: 10px;
    background: #ec9e03;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}

/* !!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!! ADAPTABILITY !!!!! */

.adaptability-bg {
    width: 1300px;
    margin: 0 auto;
    background-image: url("../img/footerbg.jpg");
    border-top: 1px solid transparent;
}

.adaptability .title {
    font-family: 'PT Sans', sans-serif;
    font-size: 43px;
    font-weight: 100;
    margin-bottom: 5px;
    margin-top: 39px;
    color: #f5c506;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.adaptability-wrap {
    display: flex;
}

.adaptability .feature-img {
    width: 560px;
    height: 300px;
}

.adaptability-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    line-height: 26px;
    color: #a9a9a7;
    list-style: none;
    padding: 0;
    margin-top: 88px;
    margin-left: 112px;
    margin-bottom: 78px;
    letter-spacing: 0.5px;
}

.adaptability .adaptability-list .item {
    position: relative;
    margin-bottom: 20px;
}

.adaptability .adaptability-list .item::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f5c506;
    left: -35px;
    top: 4px;
}

.footer-bg {
    width: 1300px;
    margin: 0 auto;
    background-color: #4c4c4c;
    border-top: 1px solid transparent;
}
/* !!!!!! */
/* FOOTER */

.footer-bg {
    position: relative;
    border-top: 1px solid black;
    box-shadow: 0px -10px 26px -12px rgba(0,0,0,0.75);
}

.footer-logo {
    margin-top: 6px;
}

@media screen and (max-width: 640px) {
    .header-bg,
    .features-bg,
    .schedule-bg,
    .adaptability-bg,
    .footer-bg {
        width: 640px;
    }

    .container{
        width: 640px;
    }

    .main-navigation {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
    }

    .main-logo {
        width: 243px;
        height: 52px;
        padding-top: 10px;
        padding-left: 13px;
        background-color: #5a5a5a;
    }

    .main-logo .logo {
        width: 156px;
        height: 38px;
    }

    .nav {
        width: 100%;
        margin: 0;
        box-shadow: none;
    }

    .nav-list {
        justify-content: space-between;
    }

    .nav-list .item {
        display: block;
        width: 152px;
        border-right: 1px solid #d6ac05;
    }

    .nav-list .item:last-child {
        border-right: none;
    }
    
    .nav-list .link {
        display: block;
        font-size: 19px;
        width: 100%;
        text-align: center;        
        line-height: 62px;
        padding: 0;
        margin: 0;
    }

    .nav .about-us::before {
        left: 8px;
        top: 22px;
    }

    .nav .services::before {
        left: 11px;
        top: 22px;
    }

    .nav .contact::before {
        left: 6px;
        top: 23px;
    }

    .slider .title {
        display: none;
    }

    .slider .video-arrow {
        display: none;
    }

    .slider .video {
        display: none;
        margin: 0;
        padding: 0;
        width: 640px;
    }

    .video-mobile {
        display: block;
    }

    .features-bg {
        box-shadow: 0px -5px 0px 0px rgba(255,255,255,0.75), 
                    0px -10px 0px 0px rgba(255,255,255,0.5);
    }

    .features .item {
        font-size: 23px;
        padding-top: 109px;
        width: 213px;
    }

    .features .better-design::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 109px;
        height: 74px;
        margin-left: -43px;
        margin-top: -52px;
        background-image: url(../img/icons/btdesign.png);
        background-size: 86px 59px;
        background-repeat: no-repeat;
    }
    
    .features .cusomise::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 91px;
        height: 95px;
        margin-left: -26px;
        margin-top: -58px;
        background-image: url(../img/icons/customise.png);
        background-size: 69px 70px;
        background-repeat: no-repeat;
    }
    
    .features .free-icons::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 81px;
        height: 83px;
        margin-left: -36px;
        margin-top: -58px;
        background-image: url(../img/icons/free.png);
        background-size: 68px 68px;
        background-repeat: no-repeat;
    }

    .schedule-bg {
        border: none;
        background-image: none;
    }

    .schedule {
        line-height: 33px;
        padding: 0;
    }

    .schedule .title {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }

    .schedule-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    .schedule .describe {
        width: 297px;
        margin: 10px 0 10px 10px;
        padding: 0;
    }

    .schedule .video {
        width: 313px;
        margin: 10px 10px 10px 0;
        padding: 0;
    }

    .describe .date {
        display: none;
    }

    .schedule .range {
        display: none;
    }

    .schedule .social {
        width: 100%;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 9px;
    }

    .social .chat-twitter {
        display: block;
        align-self: flex-end;
        margin-right: -15px;
    }

    .chat-twitter .list {
        padding: 0;
        margin: 0;
    }

    .box-msg {
        display: block;
        position: relative;
        font-family: "Arial";
        font-size: 13px;
        color: #8f8e8e;
        line-height: 20px;
        list-style: none;
        width: 235px;
        background-color: rgba(255,255,255,0.70);
        border-radius: 10px;
        padding: 0 20px;
        margin-bottom: 15px;
    }

    .box-msg:first-child {
        background-color: rgba(255,255,255,1);
    }

    .box-msg::before {
        content: "";
        position: absolute;
        width: 9px;
        height: 12px;
        left: -9px;
        bottom: 8px;
        background-image: url("../img/icons/figuremsg.png");
    }

    .box-msg:last-child {
        margin-bottom: 10px;
    }

    .chat-twitter .input-text {
        width: 192px;
        font-size: 15px;
        line-height: 26px;
        padding-left: 10px;
        border-radius: 15px 0 0 15px;
    }

    .chat-twitter .btn-twitter {
        font-family: "Arial";
        font-size: 15px;
        line-height: 30px;
        color: #fff;
        width: 70px;
        margin-left: -9px;
        border: none;
        box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
        background-color: #e7a623;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
    }

    .schedule .social-number {
        display: none;
    }

    .social .btn {
        display: none;
    }

    .schedule .twitter {
        margin: 0;
        margin-left: 35px;
    }

    .adaptability {
        padding: 0;
        margin: 0;
        padding-top: 32px;
    }

    .adaptability .title {
        padding: 0;
        margin: 0;
    }

    .adaptability-wrap {
        justify-content: center;
        padding: 0;
        margin: 0;
        margin-left: -25px;
        padding-top: 5px;
        padding-bottom: 30px;
    }

    .adaptability-list {
        display: none;
    }

    .adaptability .feature-img {
        margin-top: 27px;
        margin-bottom: 20px;
    }

    .footer-logo {
        margin-top: 6px;
        padding-left: 69px;
    }

    .footer-logo .logo {
        width: 129px;
        height: 32px;
    }
    
}