html {
    font-family: "Times New Roman";
}

.container {
    width: 824px;
    margin: 0 auto;
    padding: 50px 100px 50px 100px;
    background-color: #efefef;
    box-shadow: 10px 14px 34px -10px rgba(0,0,0,0.75);
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    border-top: 2px solid black;
}

header .right {
    display: flex;
    flex-direction: column;

    margin-bottom: 100px;
}

header .right ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header .right img {
    width: 200px
}

header h1 {
    margin-bottom: 0;
}

.code-examples {
    margin-top: 100px;
    margin-bottom: 50px;
    border-top: 1px solid #afafaf;
}

.code-examples details {
    margin-bottom: 20px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.carousel {
    position: relative;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translateX(-50%);
}

.item-container {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
}

.active,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.description {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;
    font-size: 32px;
    border: 1px solid #000000;
}

.project-name {
    padding: 10px;
}

.control {
    position: absolute;
    top: 50%;
    width: 15px;
    cursor: pointer;
}

.control.left {
    left: 0;
}

.control.right {
    right: 0;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}

.arrow.right {
    right: 50%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.education .title {
    margin: 0;
    margin-right: 20px;
}

.education .btn {
    width: 50px;
    height: 25px;
}

.list-container {
    width: 100%;
}

.hider {
    display: none;
}

#windowToggler {
    position: fixed;
    display: block;
    right: 0;
    bottom: 50px;
    width: 70px;
    height: 50px;
}

#back {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 50px;
}